.categorias {
  width: 100%;
  height: 350px;
  background-color: #178d36;
  margin: 38px auto;
  color: white;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 10px;
}

.categorias h3 {
  font-size: 27px;
  margin-left: 20px;
}

.cards {
  width: 100%;
  height: 300px;
  background-color: #fffed2;
  color: white;
  justify-content: space-between;
  margin-top: 10px;
  display: flex;
}

.card {
  height: 300px;
  width: 400px;
  background-color: #860012;
}

.card h3 {
  font-size: 20px;
  font-weight: 70px;
  text-align: center;
  margin-top: 5px;
}

.card img {
  height: 250px;
  width: 400px;
}

.sobre {
  width: 100%;
  height: 340px;
  background-color: #178d36;
  margin: 30px auto;
  color: white;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 10px;
}

.sobre h3 {
  font-size: 26px;
  margin-left: 20px;
}

.sobre p {
  font-size: 21px;
  color: #860012;
  margin-right: 60px;
  font-weight: 450;
  margin-top: 10px;
}

.sobre-descricao {
  width: 100%;
  height: 290px;
  background-color: #fffed2;
  color: white;
  justify-content: space-between;
  margin-top: 10px;
  display: flex;
}

.sobre-descricao img {
  width: 300px;
  height: 270px;
  margin-left: 90px;
  margin-top: 10px;
  border-radius: 50%;
  border: 4px solid #860012;
}
.sobre-descricao-texto {
  width: 700px;
  height: 320px;
  margin-top: 2px;
  margin-right: 75px;
}

.newsletter {
  width: 100%;
  height: 350px;
  background-color: #860012;
  margin-bottom: 80px;
  color: white;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 10px;
}

.newsletter h2 {
  margin-top: 22px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20p x;
  color: black;
}

.newsletter h3 {
  font-size: 26px;
  margin-left: 20px;
}

.newsletter-descricao {
  width: 100%;
  height: 300px;
  background-color: #fffed2;
  color: white;
  justify-content: space-between;
  margin-top: 10px;
  display: flex;
}

.newsletter-descricao form {
  margin: 20px;
}

.newsletter-descricao label {
  display: block;
  margin-bottom: 5px;
}

.newsletter-descricao input[type="text"] {
  border: 4px solid #178d36;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
}

.newsletter-descricao input[type="email"] {
  border: 4px solid #178d36;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
}

.newsletter-descricao input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
}

.newsletter-descricao input[type="text"]::placeholder,
.newsletter-descricao input[type="email"]::placeholder {
  color: #666;
}

.newsletter-descricao button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter-descricao button:hover {
  background-color: #45a049;
}

.container-forms {
  margin-left: 410px;
  width: 550px;
  height: 300px;

}

.container-forms h2 {
  margin-left: 41px;

}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 170px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-left: 120px;
  background-color: #ccc;

}

.checkbox-container:hover input~.checkmark {
  background-color: #bbb;
}

.checkbox-container input:checked~.checkmark {
  background-color: #4CAF50;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  content: "";
}

#newsletter-form button {
  margin-left: 220px;
  margin-top: 15px;
}

.inputs {
  margin-left: 150px;
}