.categorias {
  width: 100%;
  height: 352px;
  background-color: #178d36;
  margin: 38px auto;
  color: white;
  justify-content: space-between;
  border: 4px solid black;
  border-radius: 10px;

}

.categorias h3 {
  font-size: 27px;
  margin-left: 20px;
}

.cards {
  width: 100%;
  height: 300px;
  background-color: #fffed2;
  color: white;
  justify-content: space-between;
  margin-top: 10px;
  display: flex;
}

.card {
  height: 300px;
  width: 400px;
  background-color: #860012;
}

.card h3 {
  font-size: 20px;
  font-weight: 70px;
  text-align: center;
  margin-top: 5px;
}

.card img {
  height: 250px;
  width: 400px;
}

.sobre {
  width: 100%;
  height: 310px;
  background-color: #178d36;
  margin: 30px auto;
  color: white;
  justify-content: space-between;
  border: 4px solid black;
  border-radius: 10px;
}

.sobre h3 {
  font-size: 26px;
  margin-left: 20px;
}

.sobre-descricao {
  width: 100%;
  height: 258px;
  background-color: #fffed2;
  color: white;
  justify-content: space-between;
  margin-top: 10px;
  display: flex;
}


.newsletter {
  width: 100%;
  height: 440px;
  background-color: #178d36;
  margin-bottom: 80px;
  color: white;
  justify-content: space-between;
  border: 4px solid black;
  border-radius: 10px;
}

.newsletter h3 {
  font-size: 26px;
  margin-left: 20px;
}

.newsletter-descricao {
  width: 100%;
  height: 388px;
  background-color: #fffed2;
  color: white;
  justify-content: space-between;
  margin-top: 10px;
  display: flex;
}